@font-face {
    font-family: 'Bahnschrift';
    src: url('/webfonts/bahnschrift.ttf');
}

* {
	overflow: hidden;
}

body {
	background-color: rgb(31, 33, 42);

	font-family: Bahnschrift;
	color: white;

	margin: 0;

	cursor: default;
	user-select: none;
}

#main {
	height: 100vh;
	width: 100vw;

	display: flex;
	flex-direction: column;
}

div.button {
	background-color: rgb(60, 64, 75);

	border-radius: 0.25rem;

	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;

	padding: 0.5rem;

	aspect-ratio: 1;
	max-height: 100%;
}

div.button:hover {
	background-color: rgb(79, 83, 94);
}

div.button.active {
	background-color: rgb(40, 76, 184);
}

div.button.active:hover {
	background-color: rgb(54, 92, 192);
}

div.button, div.button > * {
	cursor: pointer;
}

.scroll {
	overflow: auto;
}

.scroll::-webkit-scrollbar {
	width: calc(1rem + 0.25rem);
}

.scroll::-webkit-scrollbar-thumb {
	background-color: rgb(60, 64, 75);

	border-radius: 0.5rem;

	border: 0.25rem solid transparent;
	background-clip: padding-box;
}

.scroll::-webkit-scrollbar-thumb:hover {
	background-color: rgb(79, 83, 94);
}

.scroll::-webkit-scrollbar-track {
	background-color: rgb(43, 46, 56);
}

.scroll::-webkit-scrollbar-button {
	height: 0;
}

.container {
	background-color: rgb(43, 46, 56);

	border-radius: 0.25rem;
}

.seperator-v {
	border-left: 0.125rem solid black;
	border-radius: 2rem;
}

#menubar {
	display: flex;

	margin: 0.25rem;
	margin-bottom: 0;
}

#menubar > * {
	margin: 0.25rem;
}

#menubar > .button {
	font-size: 1.5rem;
}

#menubar > .seperator-v {
	margin-top: 0.625rem;
	margin-bottom: 0.625rem;
}

#main_view {
	flex: 1;

	column-gap: 0.25rem;
	padding: 0.25rem;
}

.flex_container {
	display: flex;
}

#sequence {
	width: 24rem;
}

.header {
	background-color: rgb(60, 64, 75);

	font-weight: bold;


	border-radius: inherit;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;

	padding: 0.5rem;
	padding-left: 0.75rem;
}

#sequence > .header {
	text-align: center;
}

.slide_part > .header.active {
	background-color: rgb(40, 76, 184);
}

.sequence_item_container {
	margin: 0.0625rem;
	margin-inline: 0.125rem;
	
	border: 0.125rem solid transparent;
	
	border-radius: 0.25rem;
	
	display: flex;
	align-items: stretch;
}

.sequence_item_container.selectable {
	cursor: pointer;
}

.sequence_item_container:first-of-type {
	margin-top: 0.125rem;
}

.item_color_indicator {
	height: auto;
	width: 1.5rem;
}

.sequence_item {
	background-color: rgb(60, 64, 75);
	
	cursor: inherit;

	padding: 0.375rem;
	padding-left: 0.5rem;

	flex: 1;

	text-wrap: nowrap;
}

.sequence_item.Comment {
	color: rgb(154, 153, 150);
	font-style: italic;
}

.sequence_item_container.selectable:hover > .sequence_item {
	background-color: rgb(79, 83, 94);
}

.sequence_item_container.active > .sequence_item {
	background-color: rgb(40, 76, 184);
}

.sequence_item_container.selectable.active:hover > .sequence_item {
	background-color: rgb(54, 92, 192);
}

.sequence_item_container.selected {
	border-color: white;
}

#slides_view_container {
	flex: 1;
}

.slide_part {
	border-radius: inherit;
}

.slides_view {
	display: flex;
	flex-wrap: wrap;

	align-items: center;

	padding: 0.5rem;
}

.slide_container {
	margin: 0.25rem;

	overflow: visible; /* show the overflow, because the hover effects use thicker borders wich overflow (intended) */

	position: relative;
}

.slide_container > img {
	display: block;

	height: 9rem;
}

.slide_container > object {
	position: absolute;
	top: 0;
	left: 0;

	justify-content: center;
	align-items: center;
	display: flex;
	flex-direction: column;
	
	width: 100%;
	height: 100%;
}

.slide_container > div {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;

	cursor: pointer;
}

.slide {
	border: 1px solid white;

	border-radius: 0.125rem;
}

.slide:hover {
	border-width: 2px;
	
	margin: -2px; /* difference in border width between selected and non-selected */
}

.slide.active {
	border-color: red;
	border-width: 2px;

	margin: -2px; /* difference in border width between selected and non-selected */
}

.slide.active:hover {
	border-color: red;
	border-width: 4px;

	margin: -4px; /* difference in border width between selected and non-selected */
}

.lyric_line {
	white-space: nowrap;

	font-family: "Bahnschrift";
	color: white;
	text-shadow: calc(1em / 32) calc(1em / 32) calc(1em / 16) black;
}

#blank {
	background: white;
	opacity: 0.5;

	cursor: not-allowed;

	display: none;

	position: fixed;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
}

#error_container {
	position: absolute;
	top: 1rem;
	right: 1rem;

	width: 32rem;
}

.message_box {
	background-color: white;
	color: black;

	display: flex;
	align-items: center;

	border-radius: 0.25rem;
	
	max-height: 0;

	cursor: pointer;
}

.message_box.visible {
	max-height: 100vh;
	transition: max-height 1s ease-in;

	margin-bottom: 0.25rem;

	opacity: 1;
}

.message_box.fade_out {
	opacity: 0;
	
	transition: opacity 1s ease-out;
}

.message_box.visible:first-child {
	margin-block-start: 0;
}

.message_box > .symbol {
	margin: 0.25rem;

	display: flex;
	align-items: center;
	flex-direction: column;
	aspect-ratio: 1;
	height: 1em;
}

.message_box > .symbol > i.error {
	color: red;
}

.message_box > .symbol > i.log {
	color: black;
}

.message_box > .symbol > i.debug {
	color: lightblue;
}

.message_box > div {
	display: inline-block;
}

.message_box > .text {
	flex: 1;
}

.message_box > .time {
	margin-left: auto;
	margin-right: 0.5rem;
}
