@font-face {
    font-family: 'Bahnschrift';
    src: url('/webfonts/bahnschrift.ttf');
}

* {
	overflow: hidden;
}

input[type="button"] {
	cursor: pointer;
}

body {
	background-color: rgb(31, 33, 42);

	font-family: Bahnschrift;
	color: white;

	margin: 0;

	cursor: default;
	user-select: none;
}

#main {
	height: 100vh;
	width: 100vw;

	display: flex;
	flex-direction: column;
}

div.button {
	background-color: rgb(60, 64, 75);

	border-radius: 0.25rem;

	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;

	padding: 0.5rem;
}

div.button.square {
	aspect-ratio: 1;
	max-height: 100%;
}

div.button:hover {
	background-color: rgb(79, 83, 94);
}

div.button.active {
	background-color: rgb(40, 76, 184);
}

div.button.active:hover {
	background-color: rgb(54, 92, 192);
}

div.button, div.button > * {
	cursor: pointer;
}

.scroll {
	overflow: auto;
}

.scroll::-webkit-scrollbar {
	width: calc(1rem + 0.25rem);
}

.scroll::-webkit-scrollbar-thumb {
	background-color: rgb(60, 64, 75);

	border-radius: 0.5rem;

	border: 0.25rem solid transparent;
	background-clip: padding-box;
}

.scroll::-webkit-scrollbar-thumb:hover {
	background-color: rgb(79, 83, 94);
}

.scroll::-webkit-scrollbar-track {
	background-color: rgb(43, 46, 56);
}

.scroll::-webkit-scrollbar-button {
	height: 0;
}

.container {
	background-color: rgb(43, 46, 56);

	border-radius: 0.25rem;
}

.seperator-v {
	border-left: 0.125rem solid black;
	border-radius: 2rem;
}

#menubar {
	display: flex;

	margin: 0.25rem;
	margin-bottom: 0;
}

#menubar > * {
	margin: 0.25rem;
}

#menubar > .button {
	font-size: 1.5rem;
}

#menubar > .seperator-v {
	margin-top: 0.625rem;
	margin-bottom: 0.625rem;
}

#main_view {
	flex: 1;

	column-gap: 0.25rem;
	padding: 0.25rem;
}

.flex_container {
	display: flex;
}

#playlist {
	width: 24rem;
}

.header {
	background-color: rgb(60, 64, 75);

	font-weight: bold;


	border-radius: inherit;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;

	padding: 0.5rem;
	padding-left: 0.75rem;
}

#playlist > .header {
	text-align: center;
}

.slide_part > .header.active {
	background-color: rgb(40, 76, 184);
}

.playlist_item_container {
	margin: 0.0625rem;
	margin-inline: 0.125rem;
	
	border: 0.125rem solid transparent;
	
	border-radius: 0.25rem;
	
	display: flex;
	align-items: stretch;
}

.playlist_item_container.selectable {
	cursor: pointer;
}

.playlist_item_container:not(.selectable) {
	color: rgb(154, 153, 150);
	font-style: italic;
}

.playlist_item_container:first-of-type {
	margin-top: 0.125rem;
}

.playlist_item_container.dragged_placeholder {
	opacity: 0;
}

.playlist_item_container.dragged {
	opacity: 1 !important;
}

.item_color_indicator {
	height: auto;
	width: 1.5rem;
}

.playlist_item {
	background-color: rgb(60, 64, 75);
	
	cursor: inherit;

	padding: 0.375rem;
	padding-left: 0.5rem;

	flex: 1;

	text-wrap: nowrap;
}

.playlist_item_container.selectable:hover > .playlist_item {
	background-color: rgb(79, 83, 94);
}

.playlist_item_container.active > .playlist_item {
	background-color: rgb(40, 76, 184);
}

.playlist_item_container.selectable.active:hover > .playlist_item {
	background-color: rgb(54, 92, 192);
}

.playlist_item_container.selected {
	border-color: white;
}

#slides_view_container {
	flex: 1;
}

.slide_part {
	border-radius: inherit;
	border-color: transparent;

	display: inline-block;

	margin-inline-end: 0.5rem;

	overflow: visible;
}

.slides_view {
	display: flex;
	flex-wrap: wrap;

	align-items: center;

	overflow: visible;

	padding-top: 0.5rem;
	padding-bottom: 1rem;
	
	padding-left: 0.1875rem;
}

.slide_container {
	margin: 0.25rem;

	overflow: visible; /* show the overflow, because the hover effects use thicker borders wich overflow (intended) */

	position: relative;
}

.slide_container > img,div {
	border: 0.0625rem solid transparent;
	border-radius: 0.125rem;
}

.slide_container > img {
	display: block;

	height: 12rem;

	border-width: inherit;
	border-color: transparent;
	border-style: solid;
}

.slide_container > object {
	position: absolute;
	top: 0;
	left: 0;

	justify-content: center;
	align-items: center;
	display: flex;
	flex-direction: column;
	
	width: 100%;
	height: 100%;
}

.slide_container > div {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;

	cursor: pointer;
}

.slide {
	border-color: white;
}

.slide:hover {
	border-width: 0.125rem;
	border-radius: 0.1875rem;
	
	margin: -0.0625rem; /* difference in border width between selected and non-selected */

	z-index: 20;
}

.slide.active {
	border-color: red;
	border-width: 0.125rem;
	border-radius: 0.1875rem;

	z-index: 10;

	margin: -0.0625rem; /* difference in border width between selected and non-selected */
}

.slide.active:hover {
	border-color: red;
	border-width: 0.25rem;
	border-radius: 0.3125rem;

	margin: -0.1875rem; /* difference in border width between selected and non-selected */
}

.lyric_line {
	white-space: nowrap;

	font-family: "Bahnschrift";
	color: white;
	text-shadow: calc(1em / 32) calc(1em / 32) calc(1em / 16) black;
}

#blank {
	background: white;
	opacity: 0.5;

	cursor: not-allowed;

	display: none;

	position: fixed;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
}

#error_container {
	position: absolute;
	top: 1rem;
	right: 1rem;

	width: 32rem;
}

.message_box {
	background-color: white;
	color: black;

	display: flex;
	align-items: center;

	border-radius: 0.25rem;
	
	max-height: 0;

	cursor: pointer;
}

.message_box.visible {
	max-height: 100vh;
	transition: max-height 1s ease-in;

	margin-bottom: 0.25rem;

	opacity: 1;
}

.message_box.fade_out {
	opacity: 0;
	
	transition: opacity 1s ease-out;
}

.message_box.visible:first-child {
	margin-block-start: 0;
}

.message_box > .symbol {
	margin: 0.25rem;

	display: flex;
	align-items: center;
	flex-direction: column;
	aspect-ratio: 1;
	height: 1em;
}

.message_box > .symbol > i.error {
	color: red;
}

.message_box > .symbol > i.log {
	color: black;
}

.message_box > .symbol > i.debug {
	color: lightblue;
}

.message_box > div {
	display: inline-block;
}

.message_box > .text {
	flex: 1;
}

.message_box > .time {
	margin-left: auto;
	margin-right: 0.5rem;
}


/* Windows */
.window > .header {
	display: flex;

	background-color: rgb(40, 76, 184);

	font-weight: bold;

	border-radius: inherit;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;

	padding: 0.5rem;
	padding-left: 0.75rem;
}

div.window_button {
	align-items: center;
	justify-content: center;
	flex-direction: column;

	/* padding: 0.125rem; */

	overflow: visible;

	display: inline-block;

	aspect-ratio: 1;
	max-height: 100%;
}

div.window_button:hover {
	background-color: rgb(79, 83, 94);
}

div.window_button.active {
	background-color: rgb(40, 76, 184);
}

div.window_button.active:hover {
	background-color: rgb(54, 92, 192);
}

div.window_button {
	cursor: pointer;
}

div.window_button > * {
	overflow: visible;
}

div.window_button.close {
	margin-left: auto;
}

/* add_song */
#song_selector {
	cursor: not-allowed;

	display: none;

	position: fixed;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
}

#song_selector.visible {

	display: flex;
	justify-content: center;
	align-items: center;
}

#song_selector.visible.blur_background {
	transition: backdrop-filter, background-color 0.2s ease-out;
	backdrop-filter: blur(0.5rem);

	background-color: rgb(31, 33, 42, 0.75);
}

#song_selector_container {
	cursor: auto;

	display: flex;
	flex-direction: column;

	width: 50%;
	height: 50%;

	background-color: rgb(43, 46, 56);

	border-radius: 0.25rem;
}

#song_selector_container > .content {
	padding: 0.5rem;

	display: flex;
	flex-direction: column;
	flex: 1;
}

#add_song_content {
	display: flex;
	flex: 1;
}

#add_song_results {
	width: 30%;
	flex: 1;
}

#add_song_preview {
	flex: 1;
}

#add_song_buttons {
	display: flex;
}

#add_song_buttons > * {
	margin: 0.25rem;
}