{
	"root": true,
	"parser": "@typescript-eslint/parser",
	"plugins": [
		"@typescript-eslint"
	],
	"parserOptions": {
		"project": [
			"src/server/tsconfig.json",
			"src/client/tsconfig.json",
			"src/templates/tsconfig.json",
			"build-scripts/tsconfig.json"
		]
	},
	"extends": [
		"eslint:recommended",
		"plugin:@typescript-eslint/eslint-recommended",
		"plugin:@typescript-eslint/recommended",
		"plugin:@typescript-eslint/recommended-type-checked"
	],
	"rules": {
		"semi": ["error", "always"],
		"object-curly-spacing": ["error", "always"],
		"quotes": ["error"],
		"quote-props": ["error", "as-needed"],
		"@typescript-eslint/naming-convention": [
			"error",
			{
				"selector": "default",
				"format": ["snake_case"]
			},
			{
				"selector": "typeLike",
				"format": ["PascalCase"],
				"leadingUnderscore": "forbid",
				"trailingUnderscore": "forbid"
			},
			{
				"selector": "import",
				"format": ["PascalCase", "snake_case", "camelCase"],
				"leadingUnderscore": "forbid",
				"trailingUnderscore": "forbid"
			}
		]
	}
}