node_modules
node_modules_windows
node_modules_linux
logs
miktex
out
dist
pandoc/*
config_temp.yaml

casparcg/Templates/JohnCG/*
build-scripts/build.js
build-scripts/3rdpartylicenses.json
*.map
install-tl.log

!pandoc/install.py
!pandoc/texlive.profile